{% extends 'base.html.twig' %}

{% block body %}
<style>
    body {
        background: -webkit-linear-gradient(left, lightblue, lightskyblue);
        font-family: "Arial Rounded MT Bold";
    }
   h1{
       color: midnightblue;
       font-family: Tahoma;

   }
    input[type=submit] {
        color: white;
        cursor: pointer;
        background-color: midnightblue;
        border-radius: 10px;
        border: none;
        padding: 5px 15px;
   }

    input[type=reset] {
        color: white;
        cursor: pointer;
        background-color: midnightblue;
        border-radius: 10px;
        border: none;
        padding: 5px 15px;
    }

   input[type=reset]:hover {
       opacity: 0.5;
       transition: opacity, 0.20s;
   }

   input[type=submit]:hover {
       opacity: 0.5;
       transition: opacity, 0.20s;
   }

</style>
   <body>
      <h1>Retrospective meeting</h1>
       <form>
           <table width="60%">
               <tr>
                   <td>Category:</td>
                   <td>
                       <select name="category">
                            <option>GOOD</option>
                            <option>BAD</option>
                            <option>IDEAS</option>
                            <option>THANKS</option>
                       </select>
                   </td>
               </tr>
               <tr>
                   <td>Your text, please:</td>
                      <td>
                          <textarea name="placefortext" placeholder="Type your text here" maxlength="250"></textarea>
                      </td>
               </tr>
               <tr>
                   <td>Signature:</td>
                      <td>
                       <input type="text" name="sign" maxlength="50">
                      </td>
                   <td> - If you want be in anonymity, type anonym</td>
               </tr>
               <tr>
                <td>
                    <input type="submit" value="SEND">
                    <input type="reset" value="RESET">
                </td>

               </tr>

           </table>
       </form>
   </body>


{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
